.products {
    padding: 80px 0 100px;

    &__wrapper {
        display: flex;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    &__title {
        display: inline-block;
        margin-right: 24px;
    }

    &__count {
        font-weight: bold;
        font-size: 32px;
        line-height: 36px;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.2);
    }
    &__btn-filter {
        position: relative;
        display: none;
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        background-color: transparent;
        border: none;
        padding-left: 58px;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 46px;
            height: 46px;
            border: 1px solid #E9E9E9;
            border-radius: 6px;
        }
        &::after {
            content: '';
            position: absolute;
            top: 50%;
    transform: translateY(-50%);
            left: 12px;
            background-image: url(../icons/filter.svg);
            width: 22px;
            height: 22px;
        }
    }

    &__sort {
        &-form {
            align-self: flex-end;
            position: relative;
            flex-grow: 1;
            max-width: 306px;
        }

        &-items {
            position: absolute;
            top: 35px;
            right: 0;
            transition: .5s ease-in-out;
            display: flex;
            flex-direction: column;
            opacity: 0;
            visibility: hidden;
            z-index: 3;
            background: #FFFFFF;
            box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.1);
            border-radius: 6px;
            padding: 20px;

            &.active {
                opacity: 1;
                visibility: visible;
            }
        }

        &-title {
            font-weight: 500;
            color: #000000;
            margin-right: 10px;
        }

        &-btn {
            position: relative;
            padding: 0;
            background-color: transparent;
            border: none;
            font-family: inherit;
            font-weight: 500;
            color: #FFA621;
            cursor: pointer;
            text-transform: lowercase;
            padding-right: 25px;

            &::after {
                content: '';
                position: absolute;
                top: 5px;
                right: 0;
                background-image: url(../icons/arrow-down.svg);
                width: 10px;
                height: 6px;
                transition: transform .5s;
            }

            &.active {
                &::after {
                    transform: rotate(180deg);
                }
            }
        }


        &-radio {
            margin-bottom: 16px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &-input {
            position: absolute;
            width: 0;
            height: 0;
        }
    }


    &__filter {
        align-self: flex-start;
        margin-right: 24px;

    
    }

    .catalog__cards {
       
        margin-bottom: 40px;
    }

    &__pagination {
        display: flex;

        &-item {

            border: 1px solid #E9E9E9;
            transition: .3s;

            &:first-child {
                border-radius: 6px 0px 0px 6px;
            }

            &:last-child {
                border-radius: 0 6px 6px 0;
            }

            &.active {
                background-color: #FFA621;
                border-color: #FFA621;

                a {
                    color: #FFFFFF;
                }
            }

            &:hover {
                background-color: #FFA621;
                border-color: #FFA621;

                a {
                    color: #FFFFFF;
                }
            }

            &_dots:hover {
                background-color: #fff;
                border: 1px solid #E9E9E9;
            }

        }

        &-link {
            padding: 15px 20px;
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;
            text-align: center;

            color: rgba(0, 0, 0, 0.6);
            transition: color .2s;

            &_dots {
                display: block;
            }

            &_arrow {
                height: 100%;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(-90deg);
                    background-image: url(../icons/arrow-down.svg);
                    width: 10px;
                    height: 6px;
                }
            }
        }
    }
}

.catalog {
    flex-grow: 1;
}

.filter {
    position: sticky;
    top: 0;
    overflow: hidden;
    min-width: 288px;
    background-color: #F9F9F9;
    border-radius: 6px;
    padding: 24px 20px;

    .btn-close {
        display: none;
    }

    &__item {
        margin-bottom: 50px;
    }

    &__title {
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #000000;
        margin-bottom: 20px;
    }

    &__range {
        &-inputs {
            margin-bottom: 23px;

        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }

        input[type='number'] {
            -moz-appearance: textfield;
        }

        &-input {
            font-family: inherit;
            width: 112px;
            height: 46px;
            background-color: #FFFFFF;
            border: 1px solid #D9D9D9;
            border-radius: 6px;
            padding: 0 20px;
            margin-right: 20px;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #000000;

            &:last-child {
                margin-right: 0;
            }
        }
        &-slider {
            width: calc(100% - 17px);
        }
    }

    &__name {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }

      
    }

    &__checkbox {
        position: absolute;
        width: 0;
        height: 0;
    }

    &__btn {
        
        &-usage {
            width: 100%;
            margin-bottom: 33px;
        }
        &-reset {
            display: block;
            margin: 0 auto;
            position: relative;
            background-color: transparent;
            border: none;
            font-family: inherit;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: rgba(0, 0, 0, 0.6);
            cursor: pointer;
            padding-right: 20px;

            &::after {
                content: '';
                position: absolute;
                top: 6px;
                right: 0;
                background-image: url(../icons/cross.svg);
                width: 12px;
                height: 12px;
            }
        }
    }
}

.noUi-target {
    height: 6px;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
}

.noUi-connect {
    background-color: #FFA621;
    border-radius: 3px;
}

.noUi-horizontal .noUi-handle {
    width: 20px;
    height: 20px;
    background-color: #FFA621;
    border-radius: 11px;
    box-shadow: none;
    border: 0;
    top: -8px;


    &::after {
        display: none;
    }

    &::before {
        content: '';
        left: 50%;
        transform: translateX(-50%);
        width: 8px;
        height: 8px;
        background: #FFFFFF;
        border-radius: 11px;
    }
}