.header {
    padding-bottom: 30px;
    border-bottom: 1px solid #E9E9E9;

    &__nav-panel {
        background-color: #F9F9F9;
        margin-bottom: 20px;
    }

    &__menu {
        &-list {
            height: 50px;
            display: flex;
            align-items: center;
        }

        &-item {
            margin-right: 28px;
        }

        &-link {
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: rgba(0, 0, 0, 0.6);
            transition: color .5s;

            &:hover {
                color: #FFA621;
            }
        }
    }

}

.header {
    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 35px;
    }
    &__contact {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
        transition: color .5s;

        &-btn {
            display: block;
            font-family: inherit;
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;
            color: #FFA621;
            margin-top: 8px;
            background-color: transparent;
            border: none;
            cursor: pointer;
        }

        &-text {
            margin-top: 8px;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: rgba(0, 0, 0, 0.4);
        }

        &:hover {
            color: #FFA621;
        }
    }



    &__socials {
        display: flex;
        &-link:not(:last-child) {
            margin-right: 8px;
        }
    }

    &__profile {
        &-link {
            font-weight: 500;
            color: #000000;
            margin-right: 40px;
            transition: color .5s;

            &:hover {
                color: #FFA621;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.header {
    &__interaction {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-btn {

            position: relative;
            padding-left: 40px;

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 15px;
                background-image: url(../icons/burger.svg);
                width: 16px;
                height: 12px;
            }

            &.active {
                background-color: #FF8C21;
            }
        }

        .header__catalog {
            
            &-menu {
                flex-shrink: 0;
                position: relative;
            }

            &-list {
                visibility: hidden;
                opacity: 0;
                min-width: 312px;
                z-index: 10;
                padding: 15px;
                position: absolute;
                top: 120%;
                left: 0;
                background-color: #FFFFFF;
                box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.1);
                border-radius: 6px;
                transition: .5s;

                &.active {
                    visibility: visible;
                    opacity: 1;
                }
            }

            &-item {
                transition: background-color .3s;
                border-radius: 6px;

                &:hover {
                    background-color: #FFA621;

                    a {
                        color: #fff;
                    }
                }
            }

            &-link {
                transition: color .2s;
                display: block;
                padding: 13px 15px;
                color: #000000;
            }
        }
    }




    &__form {
        margin:0 25px;
    }

    &__link {
        display: flex;
        align-items: center;
        font-weight: 500;
        color: #000000;
        margin-right: 25px;
        transition: all .3s;

        &:hover {
            color: #FFA621;
            svg {
                fill: #FFA621;
            }
        }

        &:last-child {
            margin-right: 0;
        }

        &-item {
            display: flex;
            align-items: center;
            padding: 11px 12px;
            border: 1px solid #E9E9E9;
            border-radius: 6px;
            margin-right: 12px;
           svg {
                fill: rgba($color: #000000, $alpha: .2);
                margin-right: 10px;
                transition: fill .5s;
            }

            &_basket {
                &::before {
                    background-image: url(../icons/basket-gray.svg);
                    width: 22px;
                    height: 22px;
                }

            }
        }

        &-count {
            padding: 4px 7px 3px;
            background-color: #FFA621;
            border-radius: 6px;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: #FFFFFF;
        }
    }

}

.search-form {
    display: flex;
   
    font-family: inherit;
    width: 49%;

    &__input {
        font-family: inherit;
        width: 100%;
        padding: 11px 16px;
        background-color: rgba(241, 241, 241, 0.6);
        border-radius: 6px 0 0 6px;

        height: 46px;
        border: none;

        &::placeholder {
            color: rgba(0, 0, 0, 0.4);
        }
    }

    &__btn {
        position: relative;
        top: 0;
        right: 0;
        padding-left: 42px;
        padding-right: 12px;
        border-radius: 0 6px 6px 0;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 12px;
            background-image: url(../icons/search.svg);
            width: 22px;
            height: 22px;
        }
    }
}


.header-mobile {
    display: none;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    padding: 85px 0 40px;
    background-color: #fff;
    z-index: 9;
    transition: .5s;
    overflow-x: hidden;
    overflow-y: scroll;

    &.active {
        left: 0;

    }


    &__inner {}

    &__wrap {
        border-top: 1px solid #e9e9e9;
        border-bottom: 1px solid #E9E9E9;
        padding: 30px 15px;
    }

    &__btn {
        position: relative;
        font-family: inherit;
        padding: 25px 15px;
        width: 100%;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        border: none;
        border-bottom: 1px solid #E9E9E9;

        background-color: transparent;

        text-align: left;

        &_next {
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                right: 22px;
                background-image: url(../icons/arrow-down.svg);
                transform: translateY(-50%) rotate(-90deg);
                width: 10px;
                height: 6px;
            }
        }

        &_prev {
            color: rgba(0, 0, 0, 0.6);
            padding-left: 35px;
            background-color: #F9F9F9;

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 15px;
                background-image: url(../icons/arrow-left-opacity.svg);
                transform: translateY(-50%);
                width: 9px;
                height: 14px;
            }
        }
    }

    &__content {
        position: relative;
    }

    &__menu {
        background-color: #f9f9f9;
    }

    &__list {
        height: auto;
        flex-direction: column;
    }

    &__item {
        width: 100%;
        border-bottom: 1px solid #E9E9E9;
    }

    &__link {
        width: 100%;
        padding: 20px 15px;
    }

    &__profile {
        .header__profile-link {
            width: 100%;
            border-bottom: 1px solid #E9E9E9;
            padding: 20px 15px;
        }
    }

    &__footer {
        padding: 0 15px;
        padding-top: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__first {
        position: absolute;
        left: 0;
        width: 100%;
        padding-bottom: 25px;
        transition: left .3s;

        &.not-active {
            left: -150%;
        }
    }

    &__catalog {
        position: absolute;
        right: -150%;
        width: 100%;
        background-color: #fff;
        transition: right .3s;

        &.active {
            right: 0;
        }

    }

    .header__catalog-item {

        border-bottom: 1px solid #E9E9E9;

    }

    .header__catalog-link {
        width: 100%;
        padding: 20px 15px;
        font-weight: 500;
        color: #000000;
    }



}