.news {
    background-color: #F9F9F9;

    &__title {
        margin-bottom: 40px;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(360px, auto));
        gap: 24px;
    }

}